services:
  caddy:
    image: caddy:latest
    container_name: ddev-${DDEV_SITENAME}-caddy
    restart: "no"
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT

volumes:
  caddy_data:
  caddy_config:
